.Horizontal-card {
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
}

.Horizontal-card__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-default);
  opacity: 52%;
  border-radius: var(--border-radius-medium);
}

.Horizontal-card__image {
  width: 100%;
  border-radius: var(--border-radius-medium);
}

.Horizontal-card__infos {
  position: absolute;
  bottom: var(--space-sides);
}